@* 

Demo1    

*@

@*@{ 
    Layout = "~/Views/Shared/_ViewStart.cshtml";
}*@

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SCW-Demo1</title>
    @Styles.Render("~/Content/CFCMData")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/util")
    @Scripts.Render("~/bundles/component")
    @Scripts.Render("~/bundles/directive")
    @Scripts.Render("~/bundles/base")
</head>
<body>

    <div id="LAYOUT" class="main-frame-body">

        <div id="Menu" class="sub-frame-tooper">
            topper
        </div>

        <div id="Menu" class="sub-frame-menu">
            @* Controller跟View資料夾必須有同名前綴 *@
            @{ Html.RenderPartial("~/Views/Home/Menu.cshtml"); }
        </div>

        <div id="Content" class="sub-frame-body">
            @*<div>Content</div>*@
            <div>@RenderBody()</div>
        </div>

        <footer class="sub-frame-footer">
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/layout")
    @* 
        Vue的載入在dom準備好之前，會出錯 [Vue warn]: Cannot find element #XXX
        因此在dom完全載入後在載入相應的宣告才能有效編譯。
     *@

</body>
</html>
